@import '../../../@Theme/styles.scss';

.song{
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: $shadow_card, $shadow_epic;
    padding: 20px 30px;
    position: relative;
    width: 275px;
    height: 230px;
    margin: 15px;
    overflow: hidden;

    img {
        border-radius: 10px;
    }

    .badge-list {
        span {
            border-radius: 100px;
            background-color: rgba($color: $color_primary, $alpha: 1);
            color: $color_white;
            font-weight: bold;
            padding: 5px 10px;
            font-size: 12px;
            text-transform: uppercase;
            margin: 0 20px;
        }
    }

    .name, .collection, .artist {
        text-align: left;
    }
    .name {
        font-weight: bold;
        font-size: 20px;
        text-transform: capitalize;
        margin: 10px 0;
    }
    .collection{
        font-size: 14px;
        font-weight: bold;
        color:rgba($color: black, $alpha: 0.3);
        margin-bottom: 10px;
    }

    .btn-fav{
        border-radius: 100px;
        position: absolute;
        bottom: 10px; right: 10px;
        background: transparent;
        cursor: pointer;
        border: none;
        width: 34px; height: 34px;
        outline: none;
        &:hover {
            background: rgba($color: $color_primary, $alpha: 0.2);
        }
        .ic-fav {
            width: 18px;
            height: 18px;
        }
    }
}