@import "../../@Theme/styles.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: $color_primary;
  box-shadow: $shadow_primary;
  padding: 15px;
  .header-icons {
    height: 24px;
    width: 24px;
  }
  .ion-searchbar {
    background: $color_primary_dark;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: 20px;
  }
  .fav-count {
    position: relative;
    span {
      position: absolute;
      top: -5px;
      right: -10px;
      height: 15px;
      width: 15px;
      background: $color_secondary;
      color: $color_white;
      border-radius: 100px;
      font-size: 12px;
      font-weight: bold;
      padding: 2px;
    }
  }
}
