@import "./colors";
@import "./containers";

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
html, #app, body, .main {
  min-height: 100.1vh;
  width: 100%;
  max-width: 100%;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: $color_secondary;
}
